datasets==2.16.1
datasketch==1.6.4
flash_attn==2.5.0
Flask==3.0.3
Flask_Cors==4.0.0
jieba==0.42.1
jsonlines==4.0.0
marshmallow==3.22.0
matplotlib==3.5.1
ngrok==1.4.0
nltk==3.8
numpy==2.1.0
openai==1.42.0
pandas==1.5.3
peft==0.7.1
psutil==5.9.7
psutil==5.9.8
pydantic==2.8.2
rich==13.7.1
scikit_learn==1.5.1
sentence_transformers==2.3.1
simhash==2.1.2
tiktoken==0.5.1
torch==2.1.2+cu121
transformers==4.44.0
jinja2==3.0.2
trl==0.8.6
ujson==5.1.0
